 .app_navigation_crossmatrix{-webkit-backface-visibility:hidden;-webkit-transform:translateZ(0); width:auto;padding:0;outline:0;clear:both;}
.app_navigation_crossmatrix a{    display: inline-block;
    float: left;
    position: relative;
    width: 100%;
    cursor: pointer;
    margin: 0px; 
    text-align: center;
}
.app_navigation_crossmatrix a img{ 
  display: inline;
    width: 40px;
    margin: 0;
    margin-top: 20px;
    padding: 0px;
    background-size: 100%;
    background-repeat: no-repeat;}
	
.app_navigation_crossmatrix a span{     color: #fff;
    display: block;
    font-size: 18px;
    line-height: 48px; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 15px;}
.app_navigation_crossmatrix a i{font-size: 30px;
    margin-top: 20px;
    display: inline-block;
    width: 100%;}
.crossmatrixWrapper{display: flex; 
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center; margin-right: -36px;}
.app_navigation_crossmatrix ul.diamond-grid{padding: 0px 0px 0px 0px;
    list-style: none;
    font-size: 0;
    line-height: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-left: -34px;}
.app_navigation_crossmatrix ul.diamond-grid > li{
  list-style:none;
  height:140px;
  width:140px;
  color:#fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border:3px solid #fff;
  
} 
.app_navigation_crossmatrix ul.diamond-grid > li > div.content{width:140px;height:140px;
  display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
-webkit-box-align: center;
-moz-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;

-webkit-box-pack: center;
-moz-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;}

.app_navigation_crossmatrix ul.diamond-grid > li:nth-child(3n+1){margin:0px 0px 0 -45px;}
.app_navigation_crossmatrix ul.diamond-grid > li:nth-child(3n+2){margin:202px 0px 0 -146px;}
.app_navigation_crossmatrix ul.diamond-grid > li:nth-child(3n+3){margin:101px 0px 0 -45px;}
.app_navigation_crossmatrix.hide-border li{border-color:rgba(0,0,0,0) !important;}

.app_navigation_crossmatrix.hide-border ul.diamond-grid > li:nth-child(3n+2) {
    margin:206px 0px 0 -146px;
}
.app_navigation_crossmatrix.hide-border ul.diamond-grid > li:nth-child(3n+1) {
    margin:-4px 0px 0 -41px;
}
.app_navigation_crossmatrix.hide-border ul.diamond-grid > li:nth-child(3n+3) {
    margin:101px 0px 0 -41px;
}

.app_navigation_crossmatrix.hide-text span {
    display: none;
}
.app_navigation_crossmatrix.hide-text a img, .app_navigation_crossmatrix.hide-text a i {
    margin-top: 0px;
    font-size: 50px;
	    width: 50px;
    line-height: normal;
}

.sa .app_navigation_crossmatrix ul.diamond-grid > li:nth-child(3n+3) {
    margin: 101px -45px 0 0;
}
.sa .app_navigation_crossmatrix ul.diamond-grid > li:nth-child(3n+2) {
    margin: 202px -146px 0 0;
}
.sa .app_navigation_crossmatrix ul.diamond-grid > li:nth-child(3n+1) {
    margin: 0px -45px 0 0;
}
