.news-menuhtml, body {
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:18px;
    
}

.navbar a {
    font-size:20px;
}

.navbar a.navs {
    font-size:24px;
}


#news-swiper,
#news-swiperD{
    float:left;
    width:100%;
    height:calc(100% - 40px);
}

.news-btns.no-bookmark li {
    width:25%;
    
}

#news-home section.news-section #news-swiper,
#news-home section.news-section #news-swiperD {
    height:100%;
    background:#fff;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

#news-swiper .swiper-wrapper,
#news-swiper .swiper-slide,
#news-swiperD .swiper-wrapper,
#news-swiperD .swiper-slide{
    height:100%;
}

.swiper-slide {position:relative; width:100%; height:100%;}

#news-swiper .swiper-slide,
#news-swiperD .swiper-slide{
    overflow-y:scroll;
}

#news-swiperD .swiper-slide .swiper-slide {
    overflow:hidden;
}

#news-swiperD .swiper-slide p,
#news-swiperD .swiper-slide h2 {
    margin:0 0 12px 0;
    padding:0 15px;
    text-align:justify;
    font-size:14px;
}

#news-swiperD .swiper-slide h2 {
    margin:10px 0 10px 0;
    padding:0 15px;
    font-size:18px;
}

.video-icon {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    max-height:200px;
    
}

.video-icon:before {
    color:#FFF;
    background:#F00;
    border-radius:100%;
    position:absolute;
    left:50%;
    top:50%;
    width:40px;
    height:40px;
    line-height:40px;
    margin:-20px 0 0 -20px;
    opacity: 0.7;
    
    
}

#news-home section {
    height:calc(100% - 46px);
    background:#f1f1f1;
    color:#333;
}


#news-home header {
    background:#af2c2c;
    float:left;
    line-height:46px;
    height:46px;
}




.news-btns {
    margin:0px;
    padding:0px;
    float:left;
    width:100%;
    list-style:none;
    display: -webkit-flex; /* Safari */
    display: flex;
    
}

.news-btns li {
    width:16.66%;
    height:44px;
    float:left;
    text-align:center;
    line-height:44px;
    font-size:20px;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
}

.news-btns li.theme-btn,
.news-btns li.back-btn a {
    font-size:25px;
}

.news-btns li.theme-btn.on {
    opacity:0.5;
}

.news-btns li.bookmark-btn.on {
    color:red !important;
}


.news-menu {
    position:relative;
    float:left;
    width:100%;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.news-menu ul{display:flex;display:-webkit-flex;}
.news-menu ul,
.news-menu ul li {
     float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    line-height: 28px;
}

.news-menu ul li {
    text-align: center;
    padding: 7px 5px 0px 5px;
    width: auto;
    color: #FFF;
    font-size: 14px;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    flex: 1;
    text-align: center;
}

.news-menu ul li a {
	    text-decoration: none;
    font-weight: bold;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    text-align: center;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    width: 100%;
    text-align: center;
}

.news-menu ul li.active a {
    opacity:1;
}

.news-menu .border {
    height:3px;
    overflow:hidden;
    background:#FFF;
    position:absolute;
    left:0px;
    bottom:0px;
    float:left;
    width:100px;
    transition-property: width, left;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.news-detail ul,
.news-detail ul li {
    float:left;
    width:100%;
    margin:0px;
    padding:8px 8px 0 8px;
    box-sizing:border-box;
	list-style:none;
}

.news-detail ul li {
    margin:0 0 8px 0;
    padding:5px;
    background:#FFF;
    font-weight:bold;
    line-height:21px;
    height:70px;
    overflow:hidden;
    border:solid 1px #999;
}

.news-detail ul li img {
    width:100px;
    height:60px;
    float:left;
    margin:0 8px 0 0;
}

.news-page,
.news-detail-page {
    float:left;
    width:100%;
    overflow:hidden;
}

.news-detail-page {
    height:100%;
    overflow-y:auto;
}

.news-page h2,
.news-page time {
    float:left;
    width:100%;
    margin:10px 0 0 0;
    line-height:22px;
    padding:5px 12px;
   	box-sizing:border-box;
}

.heading-left .news-detail-page h2,
.content-left .news-page time,
.content-left .news-page .news-content,
.content-left .news-page .news-banner .swiper-slide span {
    text-align:left;
    word-wrap: break-word;
}

.heading-center .news-detail-page h2,
.content-center .news-page time,
.content-center .news-page .news-content,
.content-center .news-page .news-banner .swiper-slide span {
    text-align:center;
    word-wrap: break-word;
}

.heading-right .news-detail-page h2,
.content-right .news-page time,
.content-right .news-page .news-content,
.content-right .news-page .news-banner .swiper-slide span {
    text-align:right;
    word-wrap: break-word;    
}

.heading-justify .news-detail-page h2,
.content-justify .news-page time,
.content-justify .news-page .news-content,
.content-justify .news-page .news-banner .swiper-slide span {
    text-align:justify;
    word-wrap: break-word;    
}

.news-page.news-small h2.smallHeading,
.news-page.news-small h2.mediumHeading,
.news-page.news-small h2.largeHeading,
.news-page.news-small h2.xlargeHeading {
    font-size:80% !important;
}

.news-page.news-large h2.smallHeading,
.news-page.news-large h2.mediumHeading,
.news-page.news-large h2.largeHeading,
.news-page.news-large h2.xlargeHeading {
    font-size:120% !important;
}

.news-page time {
    margin:0 0 10px 0;
    padding:0px 12px;
   	line-height:14px;
}

.news-page.news-small time {
    font-size:80% !important;
}

.news-page.news-large time {
    font-size:120% !important;
}

.news-page .news-banner {
    text-align:center;
    width:100%;
    overflow:hidden;
    float:left;
    position:relative;
}

/*.news-page .news-banner .swiper-pagination {
    bottom:auto;
    top:200px;
}*/

#news-swiperD .news-page.news-small .news-banner * {
    font-size:90% !important;
}

#news-swiperD .news-page.news-large .news-banner * {
    font-size:120% !important;
}

.news-page .news-banner img {
    max-height:200px;
    float:none;
    width:100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
}

.news-page .news-banner .swiper-slide {
    text-align:center;
}

.news-page .news-banner .swiper-slide span {
    display:block;
    float:left;
    width:100%;
    text-align:center;
    float: left;
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
}

.news-page.theme-on .news-banner .swiper-slide span {
    color:#fff;
}

.news-page .news-content {
    float:left;
    padding:12px;
   	box-sizing:border-box;
    width: 100%;
}

.news-page.news-small .news-content {
    font-size:90%;
}

.news-page.news-large .news-content {
    font-size:120%;
}

.news-page.theme-on {
    background:#252525;
    color:#FFF;
}

.theme-on .news-content {
    color:#FFF;
}

.theme-on time {
    color:#FFF;
}

.font-popup {
    width:100%;
    height:100%;
   	position:fixed;
    left:0px;
    top:0px;
    background:rgba(0, 0, 0, 0.5);
    z-index:10000;
}

.font-popup div {
    padding:5px;
    width:50%;
    height:100px;
    position:relative;
    top:50%;
    margin:-50px 25% 0 25%;
    box-sizing:border-box;
    background:#fff;
    border-radius:5px;
}

.font-popup div a {
    width:100%;
    float:left;
    line-height:30px;
    color:#333;
    text-decoration:none;
    box-sizing:border-box;
    padding:0 0 0 30px;
    position:relative;
}

.font-popup div a span {
    border:solid 2px #666;
    width:16px;
    height:16px;
    float:left;
    position:absolute;
    left:2px;
    top:5px;
    border-radius:100%;
}

.font-popup div a.active span::after {
    content:" ";
    width:12px;
    height:12px;
    position:absolute;
    left:2px;
    top:2px;
    background:#AF2C2C ;
    border-radius:100%;
}

.hyperlocal-menu {
    position:fixed;
    left:0px;
    top:0;
    width:100%;
    height:100%;
    overflow-y:auto;
    background:rgba(0,0,0,0.3);
    box-shadow:none;
    z-index:10001;
}

.hyperlocal-menu  ul {
    width:100%;
    float:left;
    background:#FFF;
    min-height:calc(100% - 40px);
    margin:0 0 40px 0;
    padding:0px;
}

.hyperlocal-menu li {
    float:left;
    width:100%;
    line-height:44px;
    background-color:none;
    margin:0px;
    background:#ffffff;
    border-bottom:0px;
}

.hyperlocal-menu ul li:last-child  a {
    border-bottom:solid 0px #CCC;
}


.hyperlocal-menu .profile-image {
    left:0px;
    padding:15px 0 0 0;
    background:#af2c2c;
    float:left;
    width:100%;
    position:relative;
    margin:0px;
}



.hyperlocal-menu .profile-image div,
.hotel-settings .profile-image div {
    width:100px;
    margin:auto;
    position:relative;
}

.hyperlocal-menu .profile-image a.edit {
    padding:0px;
    background-color:none;
}

.hyperlocal-menu .profile-image span.image {
    width:90px;
    height:90px;
    float:left;
    border-radius:100%;
    border:solid 5px #0f7c8f;
}


.hyperlocal-menu .profile-image img {
    width:80px;
    height:80px;
    border-radius:100%;
    border:solid 5px #fff;
}
.hyperlocal-menu .profile-image span.name,
.hyperlocal-menu .profile-image span.location {
    text-align:center;
    line-height:24px;
    color:#FFF;
    width:100%;
    float:left;
    clear:both;
    margin:10px 0 0 0;
    font-size:16px;
}

.hyperlocal-menu .profile-image span.location {
    margin:0 0 10px 0;
    font-size:12px;
}

.hyperlocal-menu ul li .profile-image a.add-image,
.hyperlocal-menu ul li .profile-image a.edit-image,
.hotel-settings .profile-image a.add-image {
    background:url(../images/hyper-local/add-image.png) center center no-repeat rgba(0,0,0,0);
    width:40px;
    height:40px;
    padding:0px;
    position:absolute;
    right:0px;
    top:0px;
}

.hyperlocal-menu ul li .profile-image a.edit-image {
    background:url(../images/hyper-local/edit-image.png) center center no-repeat rgba(0,0,0,0);
    border-bottom:0px;
}

.hyperlocal-menu ul li a {
    display:block;
    padding:0 30px 0 50px;
    background-repeat:no-repeat;
    background-position:0 7px;
    color:#747474;
    text-decoration:none;
    text-shadow:none;
    font-size:14px;
    width:calc(100% - 20px);
    box-sizing:border-box;
    margin:0 10px;
    float:left;
    border-bottom:solid 1px #CCC;
}

.hyperlocal-menu ul li a.close {
    position:fixed;
    border:0px;
    background:#F00;
    width:40px;
    height:40px;
    z-index:2;
}

.hyperlocal-menu ul li:hover {
    background-color:#fff;
}

.hyperlocal-menu .settings,
.hyperlocal-menu a.close {
    float:left;
    width:100%;
    line-height:40px;
    padding:0px 30px 0px 50px;
    color:#FFF;
    font-weight:bold;
    box-sizing:border-box;
    background-image:url(../images/hyper-local/navigation.png);
    background-repeat:no-repeat;
    background-position:0 -660px;
    background-color:#1DA4BC;
    border-top:solid 1px #ccc;
    position:fixed;
    left:0px;
    bottom:0px;
    font-size:14px;
    font-weight:normal;
}

.hyperlocal-menu a.close {
    background:#F00;
    left:10px;
    top:10px;
    width:40px;
    height:40px;
    padding:0px;
    border:0px;
    cursor:pointer;
}

.news-navs {
    float:left;
    width:100%;
    height:100%;
    position:fixed;
    left:0px;
    top:0px;
    z-index:2;
}

.news-navs .navs {
    height:calc(100% - 40px);
    overflow-y:auto;
}

.sub-menu .navs-search,
.news-navs .navs ul {
    width:100%;
    margin:0px;
    padding:0px;
    list-style:none;
    float:left;
    
}

.news-navs .navs ul li {
    float:left;
    width:100%;
    padding:0 10px;
    box-sizing:border-box;
    
}
.news-navs .navs ul li a {
    color:#333;
    line-height:40px;
    border-bottom:solid 1px #ccc;
    display:block;
    text-decoration:none;
    font-size:16px;
}

.news-navs .navs ul li:last-child {
    border-bottom:0px;
}

.news-navs .navs ul li:hover,
.news-navs .navs ul li:hover a {
    background:#f1f1f1;
    color:#AF2C2C;
}

.news-navs .navs-search {
    background:#af2c2c;
    padding:5px 10px 5px 45px;
    height:40px;
    position:relative;
    box-sizing:border-box;
    /*    position:fixed;*/
    /*    left:0px;*/
    /*    bottom:0px;*/
}

.news-navs .navs-search input {
    width:100%;
    border:0px;
    height:30px;
    padding:5px 5px 5px 35px;
    border:0px;
    box-sizing:border-box;
    background:none;
    border-bottom:solid 1px rgba(255, 255, 255, 0.6);
    color:#fff;
    background-size:18px 18px;;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
}

.news-navs  .navs-search a {
    width:30px;
    height:30px;
    position:absolute;
    left:5px;
    top:5px;
    background-size:18px 18px;
    line-height:30px;
    text-align:center;
    
}

.news-navs  .navs-search a i {
    font-size:20px;
}

.news-navs  .navs-search span.search-icon {
    position: absolute;
    left: 50px;
    top: 10px;
    font-size:16px;
}


@media only screen and (max-width: 320px) {
    .news-menu ul li {
        width:25%;
        box-sizing:border-box;
        text-align:center;
    }
    
    
    .news-menu ul li a {
        padding:0 0;
        white-space:nowrap;
        text-align:center;
        width:100%;
    }
}


/* 06:13 05-01-2016 */

.news-setting,
.news-setting .setting-contents,
.news-setting .setting-scroll {
    width:100%;
    z-index:2;
    float:left;
    font-size: 14px;
    line-height:18px;
}

.news-setting {
    padding: 15px;
    box-sizing: border-box;
}

.news-setting .setting-head {
    float:left;
    line-height:44px;
    width:100%;
    text-align:center;
    position:relative;
}

.setting-head a.back-btn {
    width:46px;
    height:46px;
    float:left;
    position:absolute;
    left:0px;
    top:0px;
    z-index:1;
    background-size:24px 24px;
    cursor:pointer;
}

.setting-head a.back-btn i {
    font-size:22px;
}

.news-setting .setting-scroll {
    overflow:auto;
    height:calc(100% - 46px);
}

.news-setting .setting-contents  {
    padding:12px;
    box-sizing:border-box;
}

.news-setting p,
.news-setting h4,
.news-setting ul {
    margin:0px;
    width:100%;
    float:left;
    margin:0 0 10px 0;
    list-style:none;
    padding:0px;
}

.news-setting h4 {
    float:left;
    width:100%;
    line-height:30px;
    color:#F00;
    font-weight:normal;
    color:#AF2C2C;
    font-size:16px;
}

.news-setting .list {
    border:solid 1px #ccc;
    border-radius:8px;
}

.news-setting .list li,
.news-setting .time-mode {
    line-height:36px;
    float:left;
    width:100%;
    box-sizing:border-box;
    padding:0 0 0 36px;
    position:relative;
    border-top:solid 1px #ccc;
    cursor:pointer;
}

.news-setting .list li:first-child {
    border:0px;
    border-radius:8px 8px 0 0;
}

.news-setting .list li:last-child {
    border-radius:0 0 8px 8px;
}

.news-setting .list li.on {
    background:#f9f9f9;
    color:#af2c2c;
}

.news-setting .list li span,
.news-setting .time-mode span::after {
    position:absolute;
    left:8px;
    top:8px;
    width:16px;
    height:16px;
   border:solid 1px !important;
    border-radius:4px;
}



.news-setting .list.radio li span {
    border-radius:100%;
}

.news-setting .list.radio li.on span::after {
    content:" ";
    width:12px;
    height:12px;
    background:#AF2C2C;
    position:absolute;
    left:2px;
    top:2px;
    border-radius:100%;
}

.news-setting .list.checkbox li.on span,
.news-setting .time-mode span.on::after {
    background:url(../images/checkbox.png) center center no-repeat;
    background-size:80% 80%;;
}



.news-setting .list li span input,
.news-setting .time-mode span input {
    display:none;
}

.news-setting .savebtn {
    float:left;
    width:100%;
    line-height:36px;
    text-align:center;
    background:#AF2C2C;
    color:#fff;
    border-radius:8px;
}

.news-setting .time-mode {
    float:left;
    width:100%;
    border:solid 1px #ccc;
    border-radius:5px;
}

.news-setting .time-mode span {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.news-setting .time-mode span::after {
    content:" ";
    float:left;
}

.news-setting .time-mode input[type='time'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border:0px;
    background:none;
    width:50%;
    margin:0px;
    float:left;
    box-sizing:border-box;
    padding:8px;
    font-size:14px;
    color: #444;
    text-align:center;
    border-left:solid 1px #ccc;
    opacity:0.5;
}

.news-setting .time-mode.on input[type='time'] {
    opacity:1;
}

/**/
/*//========news old css add due to some design===========//*/



.newsSubMenu{max-height: calc(100% - 50px); overflow-y:scroll; width:250px}
.newsSubMenu #appypie-search-section input[type=text]{background: url(../images/e-com/search-icon.png) no-repeat 5px center/10px auto rgba(255, 255, 255, 0.1); border: none; height: 22px;text-indent: 20px; color: #fff;}
.newsSubMenu #appypie-search-section{background: none; height: 40px; }
.newsSubMenu #appypie-search-section .settingBTN{ background: url(../images/grear.png) no-repeat 0px center; width:30px; height:30px;display:block;    float: right; margin: 5px 20px 0 0  }
/* ------- News Simulator ------------ */
.page-text-news {font-size: 13px; line-height: 18px;  padding: 5px 10px 0px;  width: 100%; height: 100%; color:#333;
    -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
    overflow:hidden;
}

.page-text-news ul,
.page-text-news ul li {
    margin:0px;
    padding:0px;
    padding:0px;
    list-style:none;
}
.page-text-news ul li { display:block; min-height:inherit; line-height:25px; margin:0px;}
.page-text-news .top-news img {width:100%;}
.page-text-news .top-news { position:relative; overflow:hidden;}
.page-text-news .top-news .txt { background: none repeat scroll 0 0 #000000;
    bottom: 0;
    color: #ffffff;
    opacity: 0.7;
    width:100%;
    padding: 5px 10px;
    position: absolute;
    bottom:4px;
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}

.related-news { background:#dfdede; padding:5px 10px;}
.related-news h4 { color:#3794bf; font-weight:bold; font-size:15px; padding:5px 0;}
.related-news ul li {  background: url(images/newsli-icon.png) no-repeat scroll left center rgba(0, 0, 0, 0);
    display: block;
    line-height: 22px;
    margin: 0;
    min-height: inherit; color:#3c3c3c;
    padding: 0 0 0 10px;}
.page-text-news .news-listed {}
.page-text-news .news-listed .head { background: url(../images/top-news.png) no-repeat scroll 7px center #d7a912;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 10px 10px 37px;
    text-transform: uppercase;
    width: inherit;}
.page-text-news .news-listed ul li {border-bottom: 5px solid #ffffff;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    padding: 10px; color:#3c3c3c;
    display:block;}
.page-text-news .news-listed ul { background:#f1f1f1;}
.page-text-news .news-listed ul li span {width:92px; height:50px; display:inline-block; margin-right:5px; float:left;}
.page-text-news .news-listed ul li span img {width:100%;}



/*---------------- Detail News ----------------- */
.top-heading{background:#dfdede; padding:10px;}
.page-text-news .detail-news { position:relative; }
.page-text-news .detail-news h4{ font-weight:bold; font-size:14px; color:#3794bf; padding:10px 0; }
.news{padding: 0;}
.news p{color:#3c3c3c; font-size:13px; margin-bottom:10px;  line-height:22px;}
.detail-news > span {  color: #757677; display: inline-block; padding-bottom: 10px;}
.bottom-comment {
    float:left;
    width:100%;
    padding: 10px 0;
    text-align: center;
    font-weight:bold;
    background:rgba(0,0,0,0);
    border-top:solid 1px #CCC;
}

.add-comment{   background: none repeat scroll 0 0 rgb(255, 137, 10);
    color: white;
    font-family:Verdana, Geneva, sans-serif;
    font-size: 14px;
    margin: 4px auto 10px;
    padding: 5px 0;
    width: 64%;
    color:#fff;}


.add-comment .comment {
    background: url(images/news-comment.png) no-repeat scroll 5px 2px rgba(0, 0, 0, 0);
    color: #fff;
    display: inline-block;
    height: 22px;
    margin: 0 auto;
    text-align: center;
    width: 98%;
    font-weight:bold;
}

.news-header { background: none repeat scroll 0 0 #dfdede; padding: 10px; text-align:center;}
.news-header .newshead{font-size:16px; color:#5d5c5c;  font-weight:bold; }
.detail-news .rightpan{float:right;}

.detail-news .comment-count{background:#d98e3b; float:right; padding:0 10px; height:20px; margin-left:10px; color:#FFF; position:relative;}
.detail-news .comment-count:after{    bottom: -7px;
    color: #d98e3b;
    content: url(../images/count-icon.png);
    position: absolute;
    right: 17px;
    width: 16px;}
.detail-image   {position:relative;}
.detail-news .detail-image img {   width: 100%;}
.news-cat-list {background-repeat:no-repeat!important; background-position:10px 7px!important;}
.page-text-news .news-listing ul li {    padding: 0;}
.transparent-bg{ background:rgba(0, 0, 0, 0.5); bottom: 0;  left: 0;  position: absolute;   width: 100%; padding:5px; color:#fff; box-sizing:border-box; font-weight:bold; }
/*-------------- News Category List Page --------------------- */
.news-category-list > ul {
    background: none repeat scroll 0 0 #f1f1f1;
}
.news-category-list ul li {
    border-bottom: 6px solid #fff;
    display: block !important;
    overflow: hidden;
    padding: 8px !important;
}

.news_image {
    float: left;
    height: 80px;
    padding-right: 10px;
    width: 78px;
}
.news_image > img {
    width: 100% !important;
}
.news_image img {
    float: right;
    margin: 0 0 0 10px;
    max-width: 150px;
}


/*-------------- Comment Page --------------------- */
.page-text-news textarea.comment{border: medium none; padding: 10px; width: 100%; box-sizing: border-box; background: none repeat scroll 0px 0px rgb(244, 244, 244); min-
    
    height: 80px; height: 56px; font-family: verdana; font-size: 13px;}

.page-text-news .user-comments { margin-top:20px;}
.page-text-news .user-comments ul li {
    margin:0 0 5px 0;
    line-height: 18px;
    overflow: hidden;
    padding: 10px;
}

.page-text-news .user-comments ul li img {
    float: left;
    margin-right: 5px;
}
.page-text-news .comment-header{color:#ff890a; font-size:13px; font-weight:bold;}
.page-text-news .comment-header span{color:#2f2e2e; font-weight:normal;}
.page-text-news .daydate{color:#a3a1a1; font-size:12px; font-weight:normal;}

.page-text-news .user-comments p{}
.news-text {
    display:none;
}
.news-text textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    resize: none;
    border-radius: 5px;
}
.post-comment {
    width:182px;
    padding:10px;
    text-align:center;
    margin:10px auto;
    cursor:pointer;
}
/*-------------- Search Page --------------------- */
.page-text-news .search-page p.bluetxt{color:#3794bf;}
.page-text-news .search-page p{margin-top:5px;}

/*-------------- Manage Notification --------------------- */
.manage-noti { font-family:Verdana, Geneva, sans-serif;}
.page-text-news .manage-noti p{color: #5d5c5c; font-family: verdana; font-size: 14px; }
.manage-noti .sec1 h4 {color: #3794bf;  font-size: 14px; padding: 10px 0;}
.sec1.sec2 { margin:13px 0;}
.manage-noti .sec1 li { padding: 0 !important; font-family: Verdana, Geneva, sans-serif; font-size:13px; color:#5d5c5c; line-height: 32px;}
.manage-noti .sec1 > strong { display: block; padding: 10px 0;}

.manage-noti ul.interest-category { margin-bottom: 20px;}
.manage-noti ul.interest-category li {line-height: 33px; margin-bottom: 5px;}

input { width: calc(100% - 20px); padding:10px;  border:none; margin-bottom:10px; background-color:#ffffff; color:#6C6C6C;}

.text_day {
    width: 15%;
    margin: 2px 0;
    padding: 5px;
    border: solid 1px #AF2C2C;
    text-align:center;
    border-radius: 5px;
}
.search { background: rgba(0, 0, 0, 0)  repeat scroll 0 0;
    cursor: pointer;
    height: 54px;
    margin:0px  !important;
    padding:0px !important;
    left: 0;
    position: absolute;
    top:0;
    width: 54px;
    z-index:1;}
header.header-main {
    background:#af2c2c;
    height:46px;
    
}

header.hyper-local {
    background: #43B0C3 none repeat scroll 0 0;
    float: left;
    padding-bottom:0;
    position: relative;
    text-align: center;
    width: 100%;
    float:left;
    position:fixed;
    left:0px;
    top:0px;
    z-index:10000;
}

header.hyper-local .hyper-navs,
header.hyper-local .hyper-back,
header.hyper-local .header-hyper-filter,
header.hyper-local .hyper-location,
header.hyper-local .bookmark {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:46px;
    padding:0px;
    background-position:center center ;
    background-repeat:no-repeat;
    z-index:1;
}

header.hyper-local .hyper-back {
}

header.hyper-local .header-hyper-filter {
    padding:0;
    right:8px;
    top:10px;
    left:auto;
}


header.hyper-local .hyper-location {
    padding:0;
    left:8px;
    top:10px;
    z-index:1;
}

header.hyper-local h1 {
    font-size: 20px;
    font-weight: normal;
    overflow: hidden;
    padding:0;
    float:left;
    width:100%;
    line-height:46px;
    position:relative;
}

header.hyper-local.category-search h1 {
    line-height:30px;
}

header.category-head h1 {
    text-align:left;
    box-sizing:border-box;
    padding:0 80px 0 40px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    text-align:center;
}

header.category-head .right-nav {
    float:right;
    position:absolute;
    right:0px;
    top:0px;
}

header.category-head .right-nav a {
    margin:0px;
    position:static;
    float:left;
    width:40px;
    height:46px;
    
}

header.hyper-local h1 span {
    font-size: 20px;
    position:absolute;
    width:100%;
    text-align:center;
    left:0px;
    top:0px;
}

.news .ui-header-fixed,
.news .ui-footer-fixed,
.news .ui-footer {
    display: none !important;
}

.news .ui-page {
    min-height: 100% !important;
    padding-top: 0 !important;
    padding-right: 0px !important;
    padding-bottom: 0 !important;
    padding-left: 0px !important;
    
}

.news-detail ul li h4 {
    display: inline-block;
    max-height: 48px;
    overflow: hidden;
    float: left;
    width: calc(100% - 110px);
    margin:0px;
	line-height:25px;
}

.news-detail ul li span.date {
    float: left;
    width: calc(100% - 110px);
    float:left;
    text-align:left;
    font-weight:normal;
	position: relative;
    top: -6px
}

.image-1 .news-detail ul li img {
    display:none;
}

.image-1 .news-detail ul li h4,
.image-1 .news-detail ul li span.date {
    width:100%;
}

.news-page .pdf-btn {
    margin: 5px 0 5px 0;
    width: 100%;
    float: left;
    line-height: 40px;
    padding: 0 10px 0 45px;
    box-sizing: border-box;
    color: #333;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
    background-size: 30px 30px;
    text-align: left;
    position:relative;
}

.news-page.theme-on .pdf-btn {
    color:#fff;
}

.news-page .pdf-btn i {
    color:#FFF;
    background:#dc4734;
    width:30px;
    height:30px;
    line-height:30px;
    border-radius:100%;
    position:absolute;
    left:5px;
    top:5px;
    text-align:center;
}


@media only screen and (max-height: 360px) {
    .login_box {
        position:static;
        margin: 46px 0 10px 0;
    }
}

.news-banner .swiper-pagination {
 	bottom:auto;
	top: 180px;
    left: 0;
}

@media only screen and (max-width: 360px) {
    .news-banner .swiper-pagination {
        top: 160px;
    }
}

@media only screen and (max-width: 320px) {
    .news-banner .swiper-pagination {
        top: 140px;
    }
}

.hideBorder-1 *{border:0px !important;}
.msg-container .icon {
    border-radius: 50%;
    box-shadow: -1px -5px rgba(0, 0, 0, 0.2);
    display: block;
    font-size: 128px;
    height: 160px;
    line-height: 160px;
    margin: 0 auto;
    padding: 31px;
    text-shadow: -1px -5px rgba(0, 0, 0, 0.2);
    width: 160px;
    text-align: center;
    border: 10px solid !important;
}
.msg-container h2{ text-align:center;}
/* SA Language */

.sa .news-detail ul li img {
    float:right;
    margin:0 0 0 8px;
}

.sa .news-btns li {
    float:right;
}

.sa .news-btns li.back-btn {
    transform: rotate(180deg);
}

.sa #news-swiperD .swiper-slide p {
    text-align:right;
}

.sa .news-navs .navs-search input {
    text-align:right;
    background-size: 18px 18px;
    padding:5px 35px 5px 5px;
}

.sa .news-menu ul li {
    float:right;
}

.sa #news-home header a {
    left:auto;
    right:0px;
}

.sa #news-home header a.settings {
    left:0px;
    right:auto;
}

.sa #news-home header a.back-btn {
    left:auto;
    right:0;
    transform: rotate(180deg);
}

.sa .setting-head a.back-btn {
    right:0px;
    left:auto;
    transform: rotate(180deg);
}

.sa .news-setting .list li, .sa .news-setting .time-mode {
    padding: 0 36px 0 0;
}

.sa .news-setting .list li span, .sa .news-setting .time-mode span::after {
    left:auto;
    right:8px;
    top:8px;
}

.sa .news-setting .time-mode span {
    right:0px;
}

.sa .news-navs .navs-search {
    padding:5px 45px 5px 10px;
}

.sa .news-navs .navs-search a {
    left:auto;
    right: 5px;
    top: 5px;
}

/*---- Empty Cart ---- */

.msg-container .icon {
    border-radius: 50%;
    box-shadow: -1px -5px rgba(0, 0, 0, 0.2);
    display: block;
    font-size: 128px;
    height: 160px;
    line-height: 160px;
    margin: 0 auto;
    padding: 31px;
    text-shadow: -1px -5px rgba(0, 0, 0, 0.2);
    width: 160px;
    text-align: center;
}

.msg-container h2{ text-align:center;}

a.rate.none, a.share.none {  display: none;}


.news-detail ul li .text-detail {
    display: inline-block;
    overflow: hidden;
    float: left;
    width: calc(100% - 110px);
    margin: 0px;
}

.news-detail ul li .text-detail h4,
.news-detail ul li .text-detail span.date {
	width:100%;
}

.theme-2 .news-detail ul li:first-child {
	height:auto;
	margin:0 0 10px 0;
	position:relative;
}

.theme-2 .news-detail ul li:first-child img {
	width:100%;
	height:auto;
	margin:0px;
}

.theme-2 .news-detail ul li:first-child .text-detail {	
	padding:5px 0 0 0;
	background:rgba(0,0,0,0);
	width: 100%;
	box-sizing: border-box;
    height: auto;
    max-height: none;
	float:right;
}

.theme-2.image-1 .news-detail ul li:first-child .text-detail {
	padding:0px;
}

.theme-1.image-1 .news-detail ul li .text-detail,
.theme-2.image-1 .news-detail ul li .text-detail {
    width:100%;
}

.theme-3 .news-detail ul {
	padding:0px;
}
.theme-3 .news-detail ul li {
	height:auto;
	padding:0px;
	margin:0 0 0 0;
	background:rgba(0,0,0,0) !important;
	position:relative;
	border:0px;
}

.theme-3 .news-detail ul li img {
	width:50%;
	height:auto;
	margin:0px;
	background-size:cover;
	background-position:center top;
}

.theme-3 .news-detail ul li .text-detail {
	position:absolute;
	left:0px;
	bottom:0px;
	padding:10px;
	background:rgba(0,0,0,0.5);
	width:50%;
	box-sizing: border-box;
	height:100%;
}

.theme-3 .news-detail ul li:nth-child(odd) .text-detail {
	left:auto;
	right:0px;
}

.theme-3 .news-detail ul li h4 {
	width: 100%;
    float: left;
    border-bottom: solid 1px #F00;
    white-space: nowrap;
    overflow: hidden;
    line-height: 30px;
    text-overflow: ellipsis;
}

.theme-3 .news-detail ul li span.date {
	width:100%;
	line-height:20px;
	text-align:left;
	top:0px;
}

.theme-3.image-1 .news-detail ul li img {
	display:block;
}


.theme-4 .news-detail ul {
	padding:0px;
}
.theme-4 .news-detail ul li {
	height:auto;
	padding:0px;
	margin:10px 0 0 0;
	background:rgba(0,0,0,0) !important;
	position:relative;
	border:0px;
}

.theme-4 .news-detail ul li:first-child {
	margin:0px;
}

.theme-4 .news-detail ul li img {
	width:100%;
	height:auto;
	margin:0px;
}

.theme-4 .news-detail ul li .date {
	float:left;
	width:100%;
	text-align:left;
	top:0px;
}

.theme-4 .news-detail ul li .text-detail {
	position:absolute;
	left:0px;
	bottom:0px;
	padding:10px;
	background:rgba(0,0,0,0.5);
	width:100%;
	box-sizing: border-box;
    height: auto;
    max-height: none;
}

.theme-4 .news-detail ul li h4 {
	float:left;
	width:100%;
	line-height:26px;
	 height: auto;
    max-height: none;
}

.theme-4.image-1 .news-detail ul li .text-detail {
	position:static;
}